{% extends 'base.html' %} {% block title %}User List{% endblock %} {% block content
    %} {% with messages = get_flashed_messages(with_categories=true)%} {%if
    messages%}
    <section class="messages">
      {% for category, msg in messages %}
      <br />
      <p class="{{category}}">{{msg}}</p>
    
      <br />
      {% endfor %}
    </section>
    </br>
    {%endif%} {%endwith%}
    <div class="d-flex flex-column">
    <h1>{{tag.name}}</h1>
    <ul>
      {%for post in tag.posts%}
      <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
      {%endfor%}
    </ul>
    <form>
      <a href="/tags/{{tag.id}}/edit" class='btn btn-primary'>Edit</a>
    </button>
          <button class="btn btn-danger"
          formaction="/tags/{{tag.id}}/delete"
          formmethod="POST">Delete
  </button>
        </form>
  </div>
    {% endblock %}
    
