{% extends 'base.html' %} {% block title %}User List{% endblock %} {% block content
    %} {% with messages = get_flashed_messages(with_categories=true)%} {%if
    messages%}
    <section class="messages">
      {% for category, msg in messages %}
      <br />
      <p class="{{category}}">{{msg}}</p>
    
      <br />
      {% endfor %}
    </section>
    </br>
    {%endif%} {%endwith%}
    <div class="d-flex flex-column">
    <h1>Tags</h1>
    <ul>
      {%for tag in tags%}
      <li><a href="/tags/{{tag.id}}">{{tag.name}}</a></li>
      {%endfor%}
    </ul>
    <a href="/tags/new"><button class="btn btn-secondary">Add Tag</button></a>
  </div>
    {% endblock %}
    
